header {
  background-color: rgb(116, 116, 116);
}

header ul {
  transform: translate(0, 50%);
}

header ul a {
  display: flex;
}

* {
  text-transform: capitalize;
}

#links {
  position: relative;
  bottom: 13px;
}

body {
  overflow: hidden;
}

.container {
  width: 80%;
}
.carts-products {
  display: none;
}

.create-product-page {
}

.create-product-page form {
}

.create-product-page input,
.create-product-page select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b9b9b9;
  margin: 10px 0;
  font-size: 15px;
  transition: 0.2s ease all;
}

.create-product-page input:hover,
.create-product-page select:hover {
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.create-product-page input[type='submit'] {
  transition: 0.2s ease all;
}

.create-product-page input[type='submit']:hover {
  color: white;
  background: rgb(139, 139, 139);
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  padding: 10px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: grey;
  display: inline-block;
  transition: 0.2s ease all;
  border-radius: 20px;
  margin-top: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: white;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  color: black;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
